[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-daedalus
Exec=harbour-daedalus
Name=Daedalus
# translation example:
# your app name in German locale (de)
Name[de]=Daedalus

